<!DOCTYPE html>
<html lang="ru">
    <head>
        {% include "./components/head.njk" %}
    </head>
<body>
<header>
    <div class="container">
        <div class="header">
            <div class="header_logo">
                <img src="./img/logo.png">
            </div>
            <div class="header_h1">
                <h1>Я занимаюсь версткой и делаю это профессионально</h1>
            </div>
            <div class="header_button">
                Связаться со мной
            </div>
            <div class="header_arrow">
                <img src="./img/arrow.png">
            </div>
        </div>
    </div>
</header>

<section id="description">
    <div class="container">
        <h2>Обо мне</h2>
        <div class="content">
            <div class="content__first">
                    <h3>о миссии</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br>
                        <br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
                    </p>
            </div>
            <div class="description__second">
                <h3>о заслугах</h3>
                    <div class="content__second">
                        <div class="item">
                            <img src="./img/bug.png" width="38" height="38">
                            <p class="text">Волшебный жук</p>
                            <p class="text__description">Позволяет быть в тонусе</p>
                        </div>
                        <div class="item">
                            <img src="./img/bell.png" width="38" height="38">
                            <p class="text">Особый колокольчик</p>
                            <p class="text__description">Позволяет не проспать</p>
                        </div>
                        <div class="item">
                            <img src="./img/storm.png" width="38" height="38">
                            <p class="text">Человек-молния</p>
                            <p class="text__description">Я сдаю все проекты раньше</p>
                        </div>
                        <div class="item">
                            <img src="./img/camera.png" width="38" height="38">
                            <p class="text">Фотографирую</p>
                            <p class="text__description">Просто мне это нравится</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

    <section id="description__third">
    <div class="container">
        <h2>почему ко мне обращаются</h2>
        <div class="wrapper">
            <div class="wrapper__first">
                <div class="item">
                    <div class="item__number">1</div>
                    <div class="item__title">Умный и размуный</div>
                </div>
                <div class="item">
                    <div class="item__number_2">2</div>
                    <div class="item__title">Красивый и приятный</div>
                </div>
                <div class="item">
                    <div class="item__number">3</div>
                    <div class="item__title">Мой код любят девушки</div>
                </div>
            </div>
        </div>
        <h3>мне кажется,</h3>
    <div class="wrapper__second">
        <p>Вам просто необходимо связаться со мной, иначе вы рискуете упустить знакомство с лучшим человеком на земле</p>
        <div class="wrapper__button">
            <p>связаться со мной</p>
        </div>
    </div>
    </div>
    </section>

<footer>
    <div class="container">
        <div class="footer">
            <p>2016 / Все права защищены</p>
            <p>Мое фамилия и имя</p>
            <p>Политика конфиденциольности</p>
        </div>
    </div>
</footer>


</body>
</html>