@import "global";
@import "helpers/mixins";
@import "helpers/variables";

.container {
  text-align: center;
  width: 980px;

}

header {
  width: 100%;
  margin: 0 0 80px;
  padding: 54px 660px 58px 666px;
  background-color: #4e8598;
  display: inline-block !important;

  .header_logo {
    margin-top: 40px;
  }

  .header_h1 h1 {
    width: 594px;
    height: 64px;
    margin: 186px auto 29px auto;
    font-family: Tahoma;
    font-size: 27px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.54px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  .header_button {
    width: 218px;
    margin: 29px auto 177px auto;
    border-radius: 27.5px;
    border: solid 1px #ffffff;
    background-color: #4e8598;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.92;
    letter-spacing: 0.26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .header_arrow {
    margin: 177px auto 58px auto;
  }
}

#description {
  background: #FFFFFF;

  h2 {
    margin: 80px 11px 89px 18px;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.52px;
    color: #2f383b;
    text-align: center !important;
    text-transform: uppercase;
  }

  h3 {
    font-family: Tahoma;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: left;
    color: #2f383b;
    margin-bottom: 45px;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      width: 72px;
      height: 3px;
      background-color: #4e8598;
      margin-top: 13px;
    }
  }

  .content {
    display: flex;

    .content__first {

      width: 393px;

      p {
        font-family: Tahoma;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: 0.3px;
        text-align: left;
        color: #2f383b;
      }
    }

    .description__second {
      text-align: left;
      margin-left: 49px;

      .content__second {

        display: inline-block;
      }

      .item {
        display: flex;
        margin-bottom: 25px;

      }

      .text {
        color: #4e8598;
        line-height: 2.06;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.32px;
      }

      .text__description {
        line-height: 1.6;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgba(47, 56, 59, 0.48);
        font-size: 15px;
      }
    }
  }
}

#description__third {
  justify-content: space-between;
  margin-bottom: 70px;

  h2 {
    margin: 60px 11px 69px 18px;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.52px;
    text-align: center;
    color: #2f383b;
    text-align: center !important;
    text-transform: uppercase;
  }

  h3 {
    font-family: Tahoma;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    color: #2f383b;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 64px;
  }

  .wrapper__first {
    display: flex !important;
    justify-content: space-around;

    .item {
      justify-content: space-around;
      margin-left: 30px;

      .item__number_2 {
        background-color: #2f383b;
        border-radius: 50%;
        width: 75px;
        padding: 20px 0;
        text-align: center;
        border: 1px solid black;
        font-size: 30px;
        line-height: 1.1;
        letter-spacing: 0.6px;
        color: #FFFFFF;
        margin-left: 40px;
      }

      .item__number {
        border-radius: 50%;
        width: 75px;
        padding: 20px 0;
        text-align: center;
        border: 1px solid black;
        font-size: 30px;
        line-height: 1.1;
        letter-spacing: 0.6px;
        margin-left: 30px;
      }

      .item__title {
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.06;
        letter-spacing: 0.32px;
        text-align: center;
        color: #2f383b
      }
    }
  }
    .wrapper__second p{
      text-align: center;
      width: 414px;
      margin: 0 auto;
      font-size: 14px;
      color: #2f383b;
      line-height: 1.64;
      letter-spacing: 0.28px;
      color: #2f383b;
      padding-top: 5px;
      padding-bottom: 5px;
  }
}

.wrapper__button p {
  border-radius: 27.5px;
  border: solid 1px #ffffff;
  background-color: #2f383b;
  text-align: center;
  font-family: Tahoma;
  font-size: 13px;
  font-weight: bold;
  line-height: 2.92;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  color: white !important;
}

footer {
  background: #2f383b;
  width: 100%;
  padding: 50px 490px 46px 489px;
  margin-top: 30px;

  .footer {
    display: flex;
    justify-content: space-between;

    p {
      padding-top: 25px;
      padding-bottom: 30px;
      line-height: 2.92;
      color: rgba(255, 255, 255, 0.55);
      margin-right: 205px;

      &:nth-child(3) {
        margin-right: 0;
        opacity: 0.9;
      }
    }
  }
}


